In [1]:
import mysql.connector

# Establish connection
conn = mysql.connector.connect(
    host="localhost",
    port=3307,
    user="root",
    password="inix2025"
)

cursor = conn.cursor()
print("Connected to MySQL!")

Connected to MySQL!

```sql
DELIMITER //

CREATE PROCEDURE AddStudent (
    IN student_name VARCHAR(100),
    IN student_age INT
)
BEGIN
    INSERT INTO students (name, age)
    VALUES (student_name, student_age);
END //

DELIMITER ;

SHOW PROCEDURE STATUS;
SELECT ROUTINE_NAME, ROUTINE_DEFINITION, ROUTINE_TYPE
FROM information_schema.ROUTINES
```

In [2]:
# Create and use a new database
cursor.execute("CREATE DATABASE IF NOT EXISTS stored_procedure_lab")
cursor.execute("USE stored_procedure_lab")

# Create the students table
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT
)
""")
conn.commit()
print("Database and table ready!")

Database and table ready!

In [7]:
cursor.execute("CALL AddStudent('Sapto', 29)")

In [8]:
conn.commit()

---

```mysql
DELIMITER //

CREATE PROCEDURE AddStudent (
    IN student_name VARCHAR(100),
    IN student_age INT
)
BEGIN
    INSERT INTO students (name, age)
    VALUES (student_name, student_age);
END //

DELIMITER ;



DELIMITER //

CREATE PROCEDURE GetStudentCount(OUT total INT)
BEGIN
    SELECT COUNT(*) INTO total FROM students;
END //

DELIMITER ;


CALL GetStudentCount(@count);
SELECT @count;


DELIMITER //

CREATE PROCEDURE UpdateStudentAge(
    IN student_name VARCHAR(100),
    IN new_age INT
)
BEGIN
    UPDATE students
    SET age = new_age
    WHERE name = student_name; -- error not primary key
END // 

DELIMITER ;
CALL UpdateStudentAge('Sapto', 20);


DELIMITER //

CREATE PROCEDURE UpdateStudentAgeById(
    IN student_id INT,
    IN new_age INT
)
BEGIN
    UPDATE students
    SET age = new_age
    WHERE id = student_id;
END //

DELIMITER ;
CALL UpdateStudentAgeById('1', 20);



SHOW PROCEDURE STATUS;
SELECT ROUTINE_NAME, ROUTINE_DEFINITION, ROUTINE_TYPE
FROM information_schema.ROUTINES
WHERE ROUTINE_SCHEMA = 'stored_procedure_lab';
```